<%- include("partials/header.ejs")%>
<h1>Work Related Tasks</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Task</th>
    <th>Due Date</th>
  </tr>
  <tr>
    <td><button type="button">Done!</button></td>
    <td>Do What Must be done</td>
    <td>Tomorrow</td>
  </tr>
</table>

  <%- include("partials/footer.ejs")%>